.products-banner {
    position: relative;
    z-index: 0;

    // banner 漸層
    &::before {
        content: '';
        top: 400px;
        @include image-linear($secondary, top, 0, -100%);
    }

    // banner 背景圖
    &::after {
        content: '';
        position: absolute;
        top: 0;
        z-index: -2;
        width: 100%;
        height: 400px;
        background-image: url('userProducts/products_bg.jpg');
        background-position: center 40%;
        background-size: cover;
    }

    &-title {
        max-width: 500px;
        height: auto;
        margin: 450px auto 0px;
        z-index: 3;
    }
}

.products-journey {
    .card {
        padding: 1px;
        position: relative;
        z-index: 1;

        img {
            @include zoom(.5s);
        }

        &:hover img {
            transform: scale(1.1);
        }

        &:hover .card-title {
            background-color: rgba($color: $light-green, $alpha: .75) !important;
        }

        &-title {
            position: relative;
            z-index: -1;
            border-radius: 0px 0px 30px 0px;
            margin-top: -30px;
            padding-top: 54px;
            padding-bottom: 24px;
            padding-left: 16px;
            @include zoom(.5s);

            @include md() {
                border-radius: 0px 5px 0px 0px;
                margin-top: 0px;
                padding-top: 24px;
            }
        }

        &-text {
            // 手機優先，所以這邊是手機
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            @include outline(30px, 0px);

            @include sm() {
                -webkit-line-clamp: 3;
            }

            @include lg() {
                -webkit-line-clamp: 5;
            }
        }

        &::before {
            content: "";
            @include outline-top(30px, -1);
        }

        &::after {
            content: "";
            @include outline-bottom(30px, -1);
        }
    }

    .img-box {
        border-radius: 30px 5px 30px 0px;

        @include md() {
            border-radius: 30px 0px 30px 5px;
        }
    }
}