// google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Serif+TC:wght@400;700&display=swap');

$chinese: 'Noto Serif TC';
$english: 'Inter';

body {
  font-family: $chinese, $english, serif;
  background-color: $light-green;
}

.english {
  font-family: $english, serif;
  color: $primary;
  font-weight: 400;
}

.title {
  letter-spacing: 5px;
  font-weight: bold;
  margin-bottom: 0px;
}

.ls-0 {
  letter-spacing: 0px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-5 {
  letter-spacing: 5px;
}

.img-box {
  overflow: hidden;
}

ul {
  @include list-unstyled;
}

.read-more {
  @include zoom(0.2s);

  &-icon {
    height: 16px;
    text-align: center;
    line-height: 16px;
    @include zoom(0.2s);
  }

  &:hover {
    color: $dark-green;
  }

  &:hover .read-more-icon {
    transform: scale(1.5);
  }
}

.read-all {
  @include zoom(0.2s);

  &-icon {
    height: 34px;
    text-align: center;
    line-height: 34px;
    @include zoom(0.2s);
  }

  &:hover {
    background-color: rgba($color: $light-green, $alpha: 0.5);
  }

  &:hover .read-all-icon {
    transform: scale(1.2);
  }
}
