// transition
@mixin zoom($times) {
    transition: ease-in-out $times;
}

// border-radius: 30px 5px;
@mixin outline($x, $y) {
    border-radius: $x $y;
}

@mixin outline-top($x , $z-index) {
    position: absolute;
    z-index: $z-index;
    left: 0;
    top: 0;
    width: 98%;
    height: 95%;
    border-radius: $x 0px 0px;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.5);
    border-left: 1px solid rgba($color: #000000, $alpha: 0.5);
}

@mixin outline-bottom($x, $z-index) {
    position: absolute;
    z-index: $z-index;
    right: 0;
    bottom: 0;
    width: 98%;
    height: 95%;
    border-radius: 0px 0px $x;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
    border-right: 1px solid rgba($color: #000000, $alpha: 0.5);
}

// image linear
@mixin image-linear($linear, $direction, $x, $y) {
    position: absolute;
    transform: translate($x, $y);
    z-index: -1;
    width: 100%;
    height: 100px;
    background: linear-gradient(to $direction, $linear, rgba($color: $linear, $alpha: 0));
}

// breakpoints
@mixin sm {
    @media (min-width:576px) {
        @content
    }
}

@mixin md {
    @media (min-width:768px) {
        @content
    }
}

@mixin lg {
    @media (min-width:992px) {
        @content
    }
}

@mixin xl {
    @media (min-width:1200px) {
        @content
    }
}

@mixin xxl {
    @media (min-width:1400px) {
        @content
    }
}