.footer {
  &-logo {
    width: 450px;
    max-width: 50%;
  }

  &-icon {
    .bi::before {
      @include zoom(0.2s);
    }

    &:hover .bi::before {
      transform: scale(1.2);
    }
  }

  .input-group {
    max-width: 500px;
  }

  .btn {
    position: relative;

    .badge {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 0;
      right: -16px;
    }
  }
}
